<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Per rendere accessibile GASdotto da una sottocartella è consigliato
    # sfruttare il rewrite di apache.
    # Nel file di configurazione del proprio VirtualHost si può aggiungere un
    # parametro tipo
    # Alias /sottocartella "/path/a/GASdottoNG/code/public"
    #
    # RewriteBase /sottocartella

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
