/vendor
/node_modules
.env
.env.*
/public/hot
/public/storage
/public/vendor
/public/storage/appsupplier*
/storage/*.key
/storage/debugbar
/storage/[A-Z]*
.docker_bundle/cache
.docker_bundle/.htaccess
.editorconfig
composer.lock
package-lock.json
