includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Method .* has no return typehint specified#'
        - '#Method .* has parameter .* with no typehint specified#'
        - '#Property .* has no typehint specified#'
        - '#Function .* has parameter .* with no typehint specified#'
        - '#Function .* has no return typehint specified#'

    # The level 8 is the highest level
    level: 6
    checkModelProperties: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
