includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Method .* has no return type specified#'
        - '#Method .* has parameter .* with no type specified#'
        - '#Property .* has no type specified#'
        - '#Function .* has parameter .* with no type specified#'
        - '#Function .* has no return type specified#'
        - '#Relation .* is not found in .* model#'

    # The level 8 is the highest level
    level: 5
    checkModelProperties: true
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
