@charset "UTF-8";
body {
  padding-top: 70px; }

#preloader {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }
  #preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#main-contents {
  margin-top: 10px; }

.alert {
  margin-bottom: 0; }

.iblock {
  display: inline-block; }

.tab-pane {
  padding-top: 10px; }

.middle-tabs {
  text-align: center; }
  .middle-tabs hr {
    position: absolute;
    width: 100%; }

.static-label {
  padding-top: 7px;
  margin-bottom: 0; }

.flowbox {
  flex-direction: row;
  display: flex;
  justify-content: space-between; }
  .flowbox .mainflow {
    flex: 1;
    padding-right: 10px; }

table label {
  padding-top: 7px;
  margin-bottom: 0;
  font-weight: normal; }

.loadablelist .loadablelist .list-group-item.active {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1; }
.loadablelist .list-group-item.active {
  border: 2px solid #000; }
.loadablelist .loadable-contents {
  border: 2px solid #000; }

.help-sensitive {
  color: #31708F; }

.twitter-typeahead {
  width: 100%; }

.tt-menu {
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  padding: 10px;
  width: 100%; }
  .tt-menu .tt-dataset .tt-selectable {
    padding: 4px;
    cursor: pointer;
    cursor: hand; }
    .tt-menu .tt-dataset .tt-selectable:hover {
      background-color: #EEE; }

.bootstrap-tagsinput {
  width: 100%;
  height: 34px;
  font-size: 14px;
  background-image: none; }

.booking-product .row {
  margin-left: 0; }
.booking-product .input-group {
  float: left; }
.booking-product .master-variant-selector {
  display: none; }
.booking-product .inline-calculator-trigger {
  cursor: pointer; }

.product-disabled {
  opacity: 0.2;
  display: none; }

#bottom-stop {
  position: absolute;
  clear: both;
  height: 1px;
  width: 100%; }

.all-bookings-total-row {
  margin-bottom: 20px; }

.scrollable-tabs {
  overflow-y: auto; }

.icons-legend {
  margin-bottom: 10px; }

/*
    Questo è per creare degli alias al glyphicon king, e poter assegnare ad ogni
    ruolo una diversa icona (o, almeno, una diversa classe) senza sapere a
    priori quanti sono. Cfr. GASModel::iconsMap()
*/
.glyphicon-king0:before {
  content: "\e211"; }

.glyphicon-king1:before {
  content: "\e211"; }

.glyphicon-king2:before {
  content: "\e211"; }

.glyphicon-king3:before {
  content: "\e211"; }

.glyphicon-king4:before {
  content: "\e211"; }

.glyphicon-king5:before {
  content: "\e211"; }

.glyphicon-king6:before {
  content: "\e211"; }

.glyphicon-king7:before {
  content: "\e211"; }

.glyphicon-king8:before {
  content: "\e211"; }

.glyphicon-king9:before {
  content: "\e211"; }

.dense-list ul {
  height: 710px;
  overflow-x: hidden; }
.dense-list .nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px; }
.dense-list .list-group-item {
  padding-top: 5px;
  padding-bottom: 5px; }

/*# sourceMappingURL=gasdotto.css.map */
