body {
	padding-top: 70px;
}

@media (max-width: 1280px) and (min-width: 751px) {
    body {
        padding-top: 150px;
    }

    .order-summary {
        .input-group-addon {
            display: none;
        }

        .form-control {
            padding: 6px;
        }
    }
}

#preloader {
    position: absolute;
    background: white;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;

    img {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}

#main-contents {
	margin-top: 10px;
}

.alert {
	margin-bottom: 0;
}

.iblock {
    display: inline-block;
}

.tab-pane {
	padding-top: 10px;
}

.text-more-muted {
    color: #BBB;
}

.middle-tabs {
    text-align: center;

    hr {
        position: absolute;
        width: 100%;
    }

    .nav-pills {
        display: inline-block;

        li {
            background-color: #FFF;
        }
    }
}

.static-label {
	padding-top: 7px;
	margin-bottom: 0;
}

.flowbox {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .mainflow {
        flex: 1;
        padding-right: 10px;
    }
}

table {
	label {
		padding-top: 7px;
		margin-bottom: 0;
		font-weight: normal;
	}
}

.loadablelist {
	.loadablelist {
		.list-group-item.active {
			color: #31708F;
			background-color: #D9EDF7;
			border-color: #BCE8F1;
		}
	}

	.list-group-item.active {
		border: 2px solid #000;
	}

	.loadable-contents {
		border: 2px solid #000;
	}
}

.help-sensitive {
	color: #31708F;
}

.twitter-typeahead {
	width: 100%;
}

.decorated_radio {
    input[type=radio] {
        display: none;

        + label {
            padding: 4px;
            font-size: 10px;
            background-color: #BBB;
            text-transform: uppercase;
        }

        &:checked {
            + label {
                background-color: #0F0;
            }
        }
    }
}

.tt-menu {
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	padding: 10px;
	width: 100%;

	.tt-dataset {
		.tt-selectable {
			padding: 4px;
			cursor: pointer;
			cursor: hand;

			&:hover {
				background-color: #EEE;
			}
		}
	}
}

.dynamic-tree {
    input {
        width: 80%;
    }

    .dynamic-tree-add-row {
        margin-top: 20px;
    }
}

.explode-aggregate {
    z-index: 10;
    cursor: pointer;
}

table {
    .form-group {
        margin-bottom: 0;
    }
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #FFF;
}

.booking-product {
	.row {
		margin-left: 0;
	}

    input[type=text] {
        min-width: 60px;
    }

	.input-group {
		float: left;
	}

	.master-variant-selector {
		display: none;
	}

    .inline-calculator-trigger {
        cursor: pointer;
    }

    .mobile-quantity-switch {
        margin-top: 10px;
    }
}

.variants-editor {
    .variant-descr {
        margin-top: 10px;
    }
}

.product-disabled {
	opacity: 0.2;
    display: none;
}

#bottom-stop {
	position: absolute;
	clear: both;
	height: 1px;
	width: 100%;
}

.all-bookings-total-row {
	margin-bottom: 20px;
}

.scrollable-tabs {
    overflow-y: auto;
}

.icons-legend {
	margin-bottom: 10px;
}

.main-form-buttons {
    .btn-default {
        background-color: #FFF;
        border: none;
    }

    .close-button {
        margin: 0 10px;
    }
}

.modal {
    .modal-header {
        background-color: #EEE;
    }

    .modal-footer {
        background-color: #EEE;

        .btn-default {
            background-color: #EEE;
            border: none;
        }
    }
}

.modal-extra-lg {
    width: 90%;
}

#delete-confirm-modal {
    z-index: 1500;
}

#password-protection-dialog {
    z-index: 2000;
}

/*
    Questo è per creare degli alias al glyphicon king, e poter assegnare ad ogni
    ruolo una diversa icona (o, almeno, una diversa classe) senza sapere a
    priori quanti sono. Cfr. GASModel::iconsMap()
*/
@for $i from 0 to 10 {
    .glyphicon-king#{$i}:before {
        content: "\e211";
    }
}

.btn-group {
    label.btn.active:after {
        content: '\e067';
        font-size: 10px;
        font-family: 'Glyphicons Halflings';
    }
}

.img-preview {
    img {
        max-height: 240px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    > span {
        --ratio: calc(var(--w) / var(--h));
        --row-height: 35rem;
        flex-basis: calc(var(--ratio) * var(--row-height));

        margin: 0.25rem;
        flex-grow: calc(var(--ratio) * 100);

        > img {
            display: block;
            width: 100%;
        }
    }

    &::after {
        --ratio: calc(var(--w) / var(--h));
        --row-height: 35rem;
        flex-basis: calc(var(--ratio) * var(--row-height));

        --w: 2;
        --h: 1;
        content: '';
        flex-grow: 100;
    }
}

.address-popover {
    width: 400px;
    max-width: 400px;
    margin-left: 300px !important;
}

.password-popover {
    width: 400px;
    max-width: 400px;
    margin-left: 300px !important;
}

.movement-type-editor {
    .btn-group {
        label.btn.active:after {
            content: '';
        }
    }
}

.separated_cell {
    &.on-left {
        border-left: 1px solid #ddd;
    }
}

.list-group {
    float: left;
    width: 100%;
    margin-bottom: 11px;
}

.dense-list {
    ul {
        height: 930px;
        overflow-x: hidden;
    }

    .nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list-group-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.list-group-item {
    float: left;
    width: 100%;

    .appended-loadable-message {
        float: right;
        width: 100%;
        text-align: right;
    }
}

.gray-row {
    background-color: #F6F6F6;
    padding: 15px 0;
}

.ct-chart-bar, .ct-chart-pie {
    height: 400px;
}
