.navbar {
	margin-top: 10px;

	.panel-heading {
		text-align: center;
	}

	.nav {
		font-size: 1.5em;
		margin: 15px;
	}
}

#main-contents {
	margin-top: 10px;
}

.alert {
	margin-bottom: 0;
}

.tab-pane {
	padding-top: 10px;
}
