body {
	padding-top: 70px;
}

#main-contents {
	margin-top: 10px;
}

.alert {
	margin-bottom: 0;
}

.tab-pane {
	padding-top: 10px;
}

.static-label {
	padding-top: 7px;
	margin-bottom: 0;
}

table {
	label {
		padding-top: 7px;
		margin-bottom: 0;
		font-weight: normal;
	}
}

.loadablelist {
	.loadablelist {
		.list-group-item.active {
			color: #31708F;
			background-color: #D9EDF7;
			border-color: #BCE8F1;
		}
	}
}

.help-sensitive {
	color: #31708F;
}

.bootstrap-tagsinput {
	width: 100%;
	height: 34px;
	font-size: 14px;
	background-image: none;
}

.variants-editor {
	.row {
		margin-bottom: 10px;
	}
}

.variant-selector {
	.row {
		margin-top: 5px;
	}

	.master-variant-selector {
		display: none;
	}
}

#bottom-stop {
	position: absolute;
	clear: both;
	height: 1px;
	width: 100%;
}
