@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/helpers";

$utilities: map-merge(
    $utilities,
    (
        "display": map-merge(
            map-get($utilities, "display"),
            (
                values: join(
                    map-get(map-get($utilities, "display"), "values"),
                    table-header-group,
                ),
            ),
        ),
    )
);

@import "~bootstrap/scss/utilities/api";

@import '~bootstrap-icons/font/bootstrap-icons';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import '~select2/src/scss/core';
@import '~select2-bootstrap-5-theme/src/include-all';
@import '~jquery-ui/themes/base/all.css';
@import '~chartist/dist/chartist.css';
@import "./jbob";

html, body {
    min-height: 100%;
}

body {
    font-size: 16px;
}

.hidden {
    display: none;
}

.form-control {
    font-size: 16px;
}

#preloader {
    position: absolute;
    background: white;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;

    img {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}

#main-contents {
	margin-top: 10px;
}

.alert {
	margin-bottom: 0;
}

.iblock {
    display: inline-block;
}

.tab-pane {
	padding-top: 10px;
}

.text-more-muted {
    color: #BBB;
}

.nav-tabs {
    align-items: stretch;

    .nav-link {
        height: 102%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.static-label {
	padding-top: 7px;
	margin-bottom: 0;
}

.glabel {
    font-weight: bold;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    text-align: right;

    .badge {
        margin-right: 5px;
    }
}

.flowbox {
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    .mainflow {
        flex: 1;
        padding-right: 10px;
    }
}

.wrapped-flex {
    flex-wrap: wrap;
}

table {
	label {
		padding-top: 7px;
		margin-bottom: 0;
		font-weight: normal;
	}
}

/*
    Per far apparire la selezione di Select2 all'interno dei modali
*/
.select2-container--open {
    z-index: 2000;
}

#dates-calendar {
    .continuous-calendar {
        table-layout: fixed;

        td {
            width: calc(100% / 8);
            max-width: calc(100% / 8);
            height: 120px;

            &.currentmonth {
                color: #777;
            }

            &.day-in-month-0 {
                background-color: #FFFFFF;
            }

            &.day-in-month-1 {
                background-color: #F5F5F5;
            }

            span {
                font-size: small;
                color: #777;
            }

            a {
                cursor: pointer;
            }
        }
    }

    a {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        color: #FFF;
        display: block;
        font-size: small;
        padding: 2px;
        margin-bottom: 2px;
        text-decoration: none;
    }

    .calendar-shipping-open {
        background-color: red;
    }

    .calendar-shipping-closed {
        background-color: green;
    }

    .calendar-date-confirmed, .calendar-date-order {
        background-color: blue;
    }

    .calendar-date-temp {
        background-color: orange;
    }

    .calendar-date-internal {
        background-color: black;
    }

    .prev, .next {
        color: #000;
        display: inline-block;
        width: 50%;
    }
}

.suggested-dates {
    li {
        cursor: pointer;
        cursor: hand;
    }
}

.dynamic-tree {
    > li {
        > ul .btn-warning {
            display: none;
        }
    }

    input {
        width: 80%;
    }

    .dynamic-tree-add-row {
        margin-top: 20px;
    }

    .mjs-nestedSortable-branch ul {
        margin-top: 10px;
    }

    .btn-warning {
        margin-right: 5px;
    }

    .mjs-nestedSortable-expanded {
        .expanding-icon::before {
            content: "\f63b";
        }
    }

    .mjs-nestedSortable-collapsed {
        ul {
            display: none;
        }

        .expanding-icon::before {
            content: "\f64d";
        }
    }
}

#orderAggregator {
    .card {
        ul {
            min-height: 20px;
        }
    }

    .explode-aggregate {
        z-index: 10;
        cursor: pointer;
    }
}

table {
    .form-group {
        margin-bottom: 0;
    }

    .table-sorting-header {
        background-color: #DDD !important;
        color: #000 !important;
    }
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #FFF;
}

.booking-product {
	.row {
		margin-left: 0;
	}

    input[type=text] {
        min-width: 60px;
    }

	.input-group {
		float: left;
	}

	.master-variant-selector {
		display: none;
	}

    .inline-calculator-trigger {
        cursor: pointer;
    }

    .mobile-quantity-switch {
        margin-top: 10px;
    }
}

.booking-editor {
    .manual-total {
        border-color: var(--bs-info);

        &.is-changed {
            border-color: var(--bs-red);
            padding-right: calc(1.5em + 0.75rem);
            /*
                Rielaborazione dell'icona Bootstrap "lock"
            */
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16' fill='black'%3e%3cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
    }
}

.variants-editor {
    .variant-descr {
        margin-top: 10px;
    }
}

.product-disabled {
	opacity: 0.4;
    display: none;
}

button {
    &:not(.btn-icon) {
        i {
            margin-left: 5px;
        }
    }
}

i[class^='bi-hidden-'] {
    display: none;
}

#bottom-stop {
	position: absolute;
	clear: both;
	height: 1px;
	width: 100%;
}

.all-bookings-total-row {
	margin-bottom: 20px;
}

.scrollable-tabs {
    overflow-y: auto;
}

.icons-legend {
    .dropdown-menu {
        a.active {
            background-color: #31B0D5;
            color: #FFF;
        }
    }
}

.table-icons-legend {
    .dropdown-menu {
        a.active {
            background-color: #31B0D5;
            color: #FFF;
        }
    }
}

.order-columns-selector {
    margin-left: 10px;

    .dropdown-menu {
        padding: 5px;
        width: 210px;
    }
}

.form-disabled {
    pointer-events: none;
    opacity: 0.8;
}

.main-form-buttons {
    .btn-default {
        background-color: #FFF;
        border: none;
    }

    .close-button {
        margin: 0 10px;
    }
}

.modal {
    /*
        I modali vengono resi draggabili, ma jQueryUI forza un position:relative
        per il quale il modale stesso viene poi visualizzato inline (anziché in
        overlay sulla pagina).
        Questo è per forzare in tutti i casi la position corretta
    */
    position: fixed !important;

    .modal-header {
        background-color: #EEE;
    }

    .modal-footer {
        display: block;
        background-color: #EEE;

        .btn {
            float: right;
        }
    }
}

#delete-confirm-modal {
    z-index: 1500;
}

#password-protection-dialog {
    z-index: 2000;
}

.btn-group {
    flex-flow: wrap;

    &.disabled {
        pointer-events: none;
    }

    .disabled {
        pointer-events: none;
    }
}

.img-preview {
    img {
        max-width: 100%;
        max-height: 500px;
    }
}

/*
    Per gestire il feedback che appare accanto alle checkbox che salvano
    immediatamente la selezione sul server
*/
.saved-checkbox {
    position: relative;

    &:after {
        content: 'OK';
        color: #157347;
        position: absolute;
        margin-left: 18px;
        top: -7px;
        animation: saved-checkbox-feedback 2s ease 1;
        opacity: 0;
    }

    &.saved-left-feedback {
        &:after {
            margin-left: -27px;
        }
    }
}
@keyframes saved-checkbox-feedback {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    > span {
        --ratio: calc(var(--w) / var(--h));
        --row-height: 35rem;
        flex-basis: calc(var(--ratio) * var(--row-height));

        margin: 0.25rem;
        flex-grow: calc(var(--ratio) * 100);

        > img {
            display: block;
            width: 100%;
        }
    }

    &::after {
        --ratio: calc(var(--w) / var(--h));
        --row-height: 35rem;
        flex-basis: calc(var(--ratio) * var(--row-height));

        --w: 2;
        --h: 1;
        content: '';
        flex-grow: 100;
    }
}

.address-popover {
    width: 400px;
    max-width: 100%;
}

.periodic-popover {
    width: 400px;
    max-width: 100%;
}

.password-popover {
    width: 400px;
    max-width: 100%;
}

.movement-type-editor {
    .btn-group {
        label.btn.active:after {
            content: '';
        }
    }
}

.accordion {
    /*
        Senza questo, nelle liste di elementi in cui il primo elemento è
        nascosto da un filtro, il primo elemento non ha il bordo superiore.
        Così facendo inverto la logica
    */
    .accordion-item:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom: 0;
    }
    .accordion-item:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .accordion-button {
        .appended-loadable-message {
            width: 100%;
            text-align: right;
            display: block;
        }
    }

    .accordion-body {
        border: 2px solid #000;
    }

    &.loadable-list {
        .accordion-button {
            display: inline-block;
        }
    }
}

.ui-draggable-dragging {
    z-index: 100;
}

.gray-row {
    background-color: #F6F6F6;
    padding: 15px 0;
}

.ct-chart-bar, .ct-chart-pie {
    height: 400px;

    span.ct-label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-align: start !important;
        justify-content: right !important;
    }
}

.nav {
    > li {
        > a {
            padding: 14px 10px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .btn {
        padding: 0.375rem 0.35rem;
    }

    .glabel {
        text-align: left;
        flex-direction: row;

        .badge {
            margin-left: 5px;
        }
    }

    .booking-editor {
        display: flex;
        flex-direction: column;

        tbody, tfoot {
            display: flex;
            flex-direction: column;

            tr {
                display: flex;
                flex-direction: column;

                td, th {
                    border-bottom-width: 0;
                    padding: 0.2rem 0.5rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .nav-link {
        padding: 0.375rem 0.75rem;
    }

    .modal {
        .modal-footer {
            padding: 0.15rem;
        }
    }
}

@include media-breakpoint-down(lg) {
    /*
        Questo è per assicurarsi che i pulsanti a destra del menu siano
        visualizzati anche su mobile
    */
    .navbar-collapse {
        .position-absolute {
            position: relative !important;
        }
    }
}
